<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Shorten NuGet global packages folder to avoid MAX_PATH issues on Windows -->
    <add key="globalPackagesFolder" value=".nuget" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-shimgen" value=".nuget-local" />
    <add key="local-ci" value=".nupkgs" />
  </packageSources>
</configuration>
